* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  margin: 0;
  background: #0f0f14;
}

.login-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-box {
  width: 320px;
  padding: 2rem;
  background: #28283b;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  text-align: center;
}

.login-box h2 {
  color: #fcfcfc;
  margin-bottom: 2rem;
}

.subtitle {
  color: #888;
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
}

.login-box input {
  width: 100%;
  padding: 0.7rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 5px;
  background: #222;
  color: #fff;
  outline: none;
}

.login-box input::placeholder {
  color: #777;
}

.login-box button {
  width: 100%;
  padding: 0.7rem;
  background: #4f46e5;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s ease;
}

.login-box button:hover {
  background: #4338ca;
}


.login-link{
      display: block;
  margin-top: 1rem;
  font-size: 0.8rem;
  color: #cf1313;
  cursor: pointer;
  align-items: end;
}

.forgot {
  display: block;
  margin-top: 1rem;
  font-size: 0.8rem;
  color: #777;
  cursor: pointer;
}

.forgot:hover {
  color: #aaa;
}
